@use "sass:map";
@use "../abstracts/variables" as *;

// Estilo base para todos los contenedores
//Placeholder
%container-base {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
}

// Aplicación del estilo base a todas las variantes de contenedor
// Estas son las "clases" para usar los contenedores
.container,
.container-fluid,
.container-sm,
.container-lg {
  @extend %container-base;
}

// Container normal con responsividad
.container {
  @each $breakpoint, $max-width in $container-max-widths {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      max-width: $max-width;
    }
  }
}

// Container pequeño de 540px
.container-sm{
  max-width: map.get($container-max-widths, sm);
}

// Container grande de 960px
.container-lg{
  max-width: map.get($container-max-widths, lg);
}