@use "sass:map";
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

// --- MODELO DE FILAS ---
// La fila anula los paddings laterales del contenedor para alinear las columnas.
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc($gutter-width * -1);
  margin-left: calc($gutter-width * -1);
}


// --- SISTEMA DE 12 COLUMNAS (Mobile First) ---

// Generamos las clases base .col-1 a .col-12 que aplican desde móviles (Base Movil).
@for $i from 1 through 12 {
  .col-#{$i} {
    @include col-base;
    width: col-width($i);
  }
}

// --- SOPORTE RESPONSIVO (Breakpoints) ---
// Uso el mapa $breakpoints definido en variables para generar clases md y lg.

// --- SOPORTE RESPONSIVO COMPLETO (todos los breakpoints) ---
@each $bp, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through 12 {
      .col-#{$bp}-#{$i} {
        @include col-base;
        width: col-width($i);
      }
    }
  }
}