// Paleta de Colores
$red-bird:        #C0392B;  // Red
$chuck-yellow:    #F5C518;  // Chuck
$bomb-black:      #1A1A1A;  // Bomb
$blues-blue:      #4A90D9;  // The Blues (Jay, Jake, Jim)
$matilda-white:   #F5F5F0;  // Matilda
$hal-green:       #27AE60;  // Hal
$bubbles-orange:  #E8821A;  // Bubbles
$stella-pink:     #D63384;  // Stella
$silver-gray:     #9E9E9E;  // Silver
$eagle-gold:      #C8A951;  // Mighty Eagle
$king-pig-green:  #5A8A3C;  // King Pig

//Mapa de Colores
$theme-colors: (
  "primary":   $blues-blue,
  "danger":    $red-bird,
  "warning":   $chuck-yellow,
  "success":   $hal-green,
  "dark":      $bomb-black,
  "light":     $matilda-white,
  "accent":    $bubbles-orange,
  "pink":      $stella-pink,
  "gold":      $eagle-gold,
  "pig":       $king-pig-green,
  "silver":    $silver-gray
);


// Breakpoints (Puntos de parada para el diseño responsivo)
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Anchos máximos para los contenedores en cada etapa
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Espaciado interno estándar (Gutter)
$gutter-width: 15px;

// Tipografía
$font-display: 'Henny Penny', cursive;
$font-accent:   'Jolly Lodger', cursive;
$font-body: 'Quicksand', sans-serif;
$font-code:    'Courier New', Courier, monospace;